@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.aurora-container {
  width: 100%;
  height: 100%;
}

/* Photo Profile */
